.bottom-sheet-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background-color: #00000080;
  transform-origin: bottom center;
}

.bottom-sheet {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  display: flex;

  &__indicator {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 17.5%;
    height: 5px;
    background-color: #ccd0cc;
  }

  &__hero-img {
    background-image: url("https://i.pinimg.com/originals/3a/f0/e5/3af0e55ea66ea69e35145fb108b4a636.jpg");
    background-size: cover;
    background-position: center;
  }
}
